<div id='about' class='modal fade' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" style='float: right'><span aria-hidden="true">&times;</span></button>
	<h1>This is Url Shortener.</h1>
      </div>
      <div class='modal-body'>
	<p>Service for creating short urls, similar to 
	<a href='https://goo.gl' target='_blank'>https://goo.gl</a>, 
	<a href='http://tinyurl.com' target='_blank'>http://tinyurl.com</a> and others.</p>
      </div>
    </div>
  </div>
</div>
