@import 'bootstrap-sprockets';
@import 'bootstrap';

#error_explanation ul li {
  @extend .alert-danger;
  list-style-type: none;
  border: 1px solid red;
  border-radius: 3px;
  padding: 15px;
  margin: 0 20px 10px -40px;
}

.delete_link:hover {
  color: #d9534f;
}
